@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    color: #292524;
}

header {
    background-color: #f5f5f5;
    padding: 1rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

header > h2 {
    font-size: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 80vh;
    padding: 0 2rem;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.name {
    font-size: 24px;
}

.name > span {
    font-weight: bold;
}

.score {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.board-container > button {
    background-color: #e5e5e5;
    font-size: 140px;
    width: 10rem;
    height: 10rem;
    border: 5px solid #292524;
}

.board-container > button:disabled {
    color: #292524;
}

.board-container > .cell-00,
.board-container > .cell-02, 
.board-container > .cell-20, 
.board-container > .cell-22 {
    border: none;
}

.board-container > .cell-01, 
.board-container > .cell-21 {
    border-top: none;
    border-bottom: none;
}

.board-container > .cell-10, 
.board-container > .cell-12 {
    border-left: none;
    border-right: none;
}

.control-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement-text {
    font-size: 28px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 1rem;
    left: 0;
}